@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
body {
  background: rgb(53, 88, 144);
  background: linear-gradient(
    45deg,
    rgba(53, 88, 144, 0.8604691876750701) 40%,
    rgba(22, 144, 157, 0.9220938375350141) 84%
  );
  font-family: "Poppins", sans-serif;
}

.container {
  width: 31.3%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  margin-top: 132px;
  margin-bottom: 132px;
}

header {
  border-top: 7px solid #fff;
  background: url(/assets/images/pexels-photo-6310660.jpeg);
  background-size: cover;
  background-position: bottom;
  height: 190px;
}

header .wrapper {
  width: 100%;
}

.nav-bar {
  display: flex;
  padding: 0 27px;
  justify-content: space-between;
  padding-top: 12px;
}

.icon {
  position: relative;
  display: inline-block;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
}

.icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-indent: 0;
  font-family: "FontAwesome";
  font-size: 22px;
}

.star:hover,
.left-arrow:hover {
  cursor: pointer;
}

.left-arrow::before {
  content: "\f177";
}

.star::before {
  content: "\f006";
}

h1 {
  text-align: center;
  color: #fff;
  font-weight: 400;
  padding-top: 6px;
}

header figure {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid #64c2da;
  border-radius: 50%;
}

header figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

header figure img:hover {
  cursor: pointer;
  scale: 1.1;
}

.blue-card {
  background: #eff8fb;
  padding-top: 83px;
  padding-bottom: 34px;
  border-bottom: 2px solid #bdc4d4;
}

.blue-card p,
.about p {
  color: #0855aee0;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
  line-height: 1.65;
}

.about p {
  color: #8e8686;
}

main .wrapper {
  width: 82%;
}

.tab-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tab-buttons li {
  padding: 15px;
}

.tab-buttons li:nth-of-type(1) {
  padding-left: 0;
}

.tab-container {
  background-color: #ffffff;
}

.skills-container {
  padding-bottom: 38px;
}

.skills-container div {
  display: flex;
  flex-direction: column;
}

.skills-container div p {
  color: #02b5a4;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 5px;
}

.skills-container div span {
  width: 100%;
  position: relative;
  background: #bfece8;
  display: inline-block;
  height: 11px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.skills-container div span::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.skill1 span::before {
  width: 65.5%;
  background: linear-gradient(
    45deg,
    rgba(57, 81, 139, 1) 52%,
    rgba(9, 169, 158, 1) 84%
  );
}

.skill2 span::before {
  background: linear-gradient(
    90deg,
    rgba(57, 81, 139, 1) 45%,
    rgba(9, 169, 158, 1) 63%
  );
  width: 83.5%;
}

.skill3 span::before {
  background: linear-gradient(
    90deg,
    rgba(57, 81, 139, 1) 81%,
    rgba(9, 169, 158, 1) 99%
  );
  width: 43%;
}

.tab-buttons li a {
  color: #a7a7a7;
  font-size: 15px;
}

.portfolio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}

.portfolio img {
  width: 45%;
  height: 140px;
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
}

.about {
  margin-bottom: 30px;
}

.hire {
  background: #02b5a4;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hire-btn {
  font-size: 18px;
  letter-spacing: 1.3px;
  border: none;
  outline: none;
  background: #02b5a4;
  color: #fff;
}

.hire-btn:hover {
  cursor: pointer;
}
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

/*=================================
  footer styling ends here
=================================*/

/*Responsive Design Desktop-first-approach*/
/*media query for 1440px starts here*/
@media only screen and (max-width: 1200px) {
  .container {
    width: 35%;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  header figure {
    width: 140px;
    height: 140px;
  }

  .about p {
    font-size: 13px;
  }

  .portfolio img {
    width: 45%;
    height: 135px;
  }
}

/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
  .blue-card p {
    font-size: 13px;
  }

  .about p {
    font-size: 12px;
  }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .container {
    width: 45%;
  }

  .tab-buttons li a {
    font-size: 13px;
  }

  .skills-container div p {
    font-size: 14px;
  }

  .hire-btn {
    font-size: 16px;
  }

  .portfolio img {
    height: 130px;
  }
}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .container {
    width: 60%;
  }

  .portfolio img {
    height: 105px;
  }
}

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  .container {
    width: 75%;
  }

  .tab-buttons li {
    padding: 8px;
  }

  .hire-btn {
    font-size: 14px;
  }
}

/*media query for 480px starts here*/
@media only screen and (max-width: 420px) {
  .container {
    width: 86%;
  }
}
